services:
  temporal:
    build:
      context: ..
      dockerfile: docker/temporal.Dockerfile
    environment:
      - DB=postgresql
      - POSTGRES_USER=temporal
      - POSTGRES_PASSWORD=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_DB=temporal
      - POSTGRES_HOST=postgresql
      - POSTGRES_PORT=5432
      - POSTGRES_SEEDS=postgresql
      - TEMPORAL_ADDRESS=0.0.0.0:7233
    ports:
      - '7233:7233'
      - '7234:7234'
      - '7235:7235'
      - '7239:7239'
    depends_on:
      temporal-postgres:
        condition: service_healthy
    links:
      - temporal-postgres:postgresql

  temporal-postgres:
    image: postgres:14
    environment:
      - POSTGRES_PASSWORD=temporal
      - POSTGRES_USER=temporal
      - POSTGRES_DB=temporal
      - PGPASSWORD=temporal
    ports:
      - '5433:5432'
    volumes:
      - temporal-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "PGPASSWORD=temporal pg_isready -h 127.0.0.1 -U temporal"]
      interval: 5s
      timeout: 5s
      retries: 20

  temporal-web:
    image: temporalio/ui:2.43.2
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
    ports:
      - '8088:8080'
    depends_on:
      - temporal

  worker:
    build:
      context: ../worker
      dockerfile: Dockerfile
    env_file:
      - ../worker/.env.example
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_NAMESPACE=cms-orchestration-dev
      - WORKFLOW_TASK_QUEUE=cms.workflow.queue
      - ACTIVITY_TASK_QUEUE=cms.activity.queue
    depends_on:
      - temporal
    command: ['npm','run','start:worker']
    volumes:
      - ../worker:/app
      - worker-node-modules:/app/node_modules

  rest-proxy:
    build:
      context: ../worker
      dockerfile: Dockerfile
    env_file:
      - ../worker/.env.example
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_NAMESPACE=cms-orchestration-dev
      - WORKFLOW_TASK_QUEUE=cms.workflow.queue
    ports:
      - '4000:4000'
    depends_on:
      - temporal
    command: ['npm','run','start:proxy']
    volumes:
      - ../worker:/app
      - worker-node-modules:/app/node_modules

  drupal-db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=drupalroot
      - MYSQL_DATABASE=drupal
      - MYSQL_USER=drupal
      - MYSQL_PASSWORD=drupal
    volumes:
      - drupal-db-data:/var/lib/mysql

  drupal:
    image: drupal:10-apache
    ports:
      - '8080:80'
    environment:
      - TEMPORAL_REST_URL=http://rest-proxy:4000
    depends_on:
      - drupal-db
    volumes:
      - ../drupal/modules/custom/temporal_cms:/var/www/html/modules/custom/temporal_cms
      - ./drupal-apache.conf:/etc/apache2/conf-enabled/servername.conf

  wordpress-db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=wordpress
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    volumes:
      - wordpress-db-data:/var/lib/mysql

  wordpress:
    image: wordpress:6.5-apache
    ports:
      - '8081:80'
    environment:
      - WORDPRESS_DB_HOST=wordpress-db
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress
      - WORDPRESS_DB_NAME=wordpress
      - TEMPORAL_REST_URL=http://rest-proxy:4000
    depends_on:
      - wordpress-db
    volumes:
      - ../wordpress/wp-temporal-cms:/var/www/html/wp-content/plugins/wp-temporal-cms
      - ./wordpress-apache.conf:/etc/apache2/conf-enabled/servername.conf

volumes:
  temporal-postgres-data:
  drupal-db-data:
  wordpress-db-data:
  worker-node-modules:
