services:
  worker:
    build:
      context: ../worker
      dockerfile: Dockerfile
    env_file:
      - "../worker/.env.example"
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_NAMESPACE=cms-orchestration-dev
      - WORKFLOW_TASK_QUEUE=cms.workflow.queue
      - ACTIVITY_TASK_QUEUE=cms.activity.queue
    depends_on:
      - temporal
    command: ['npm','run','start:worker']
    volumes:
      - ../worker:/app
      - worker-node-modules:/app/node_modules
    networks:
      - temporal-network

  rest-proxy:
    build:
      context: ../worker
      dockerfile: Dockerfile
    env_file:
      - "../worker/.env.example"
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_NAMESPACE=cms-orchestration-dev
      - WORKFLOW_TASK_QUEUE=cms.workflow.queue
    depends_on:
      - temporal
    command: ['npm','run','start:proxy']
    ports:
      - '4000:4000'
    volumes:
      - ../worker:/app
      - worker-node-modules:/app/node_modules
    networks:
      - temporal-network

  drupal-db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=drupalroot
      - MYSQL_DATABASE=drupal
      - MYSQL_USER=drupal
      - MYSQL_PASSWORD=drupal
    volumes:
      - drupal-db-data:/var/lib/mysql
    networks:
      - temporal-network

  drupal:
    build:
      context: ..
      dockerfile: drupal-cms/Dockerfile
    ports:
      - '8082:80'
    environment:
      - TEMPORAL_REST_URL=http://rest-proxy:4000
    depends_on:
      - drupal-db
    volumes:
      - ../drupal/modules/custom/temporal_cms:/var/www/html/modules/custom/temporal_cms
      - ./drupal-apache.conf:/etc/apache2/conf-enabled/servername.conf
    networks:
      - temporal-network

  wordpress-db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=wordpress
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    volumes:
      - wordpress-db-data:/var/lib/mysql
    networks:
      - temporal-network

  wordpress:
    image: wordpress:6.5-apache
    ports:
      - '8081:80'
    environment:
      - WORDPRESS_DB_HOST=wordpress-db
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress
      - WORDPRESS_DB_NAME=wordpress
      - TEMPORAL_REST_URL=http://rest-proxy:4000
    depends_on:
      - wordpress-db
    volumes:
      - ../wordpress/wp-temporal-cms:/var/www/html/wp-content/plugins/wp-temporal-cms
      - ./wordpress-apache.conf:/etc/apache2/conf-enabled/servername.conf
    networks:
      - temporal-network

volumes:
  drupal-db-data:
  wordpress-db-data:
  worker-node-modules:

networks:
  temporal-network:
    external: true
    name: temporal-network
